<section class="jumbotron" id="jumbo">
  <div class="container">
    <h1>Shoe Fit!</h1>
    <p>If the shoe fits... Holla!</p>
  </div>
</section>
<!--
<section class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    indicators
    <ol class="carousel-indicators" id="landing">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    Wrappers for slides
    <div class="carousel-inner" role="list-box">
      <% @products.each do |product| %>
      <div class="item <%= " active"  if product == @products.first %>" id="land1">
        <%= image_tag(product.image_url) %>
        <div class="carousel-caption" id="caption1">
          <%= product.name %>
        </div>
      </div> /item active
        <% end %>
    </div> /Wrappers for slides

    Controls
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

 </div> /Carousel
</section>/.Container
-->

<section class="container" id="myContainer">


    <div class="row" id="row2">
        <%= link_to image_tag('bo_jacksons2.jpg', class: "img-responsive img-rounded col-sm-6 col-md-6 landing-pics"), products_path %>

        <%= link_to image_tag('man_holding_nike.jpg', class: "img-responsive col-sm-6 col-md-6 landing-pics" ), products_path %>

    </div><!--row-2-->

    <div class="row" id="more">
      <h4  class="col-xs-12 col-md-12" id="kicks">
        <%= link_to 'More Kicks! >', products_path %>
      <h4>
    </div>
    <div class="row" id="row3">
      <%= link_to image_tag('addidas.jpeg', class: "landing-pics col-sm-6 col-md-6") %>

      <div class="">
        <%= link_to image_tag('nb_gray_pink.jpg', class: "landing-pics col-sm-6 col-md-6") %>
      </div>
    </div><!--/.row-3-->
    <div class="row" id="more2">
      <h4  class="col-xs-12 col-md-12" id="kicks2">
        <%= link_to 'New Arrivals >', products_path %>
      <h4>
    </div>
    <div class="row" id="row4">
      <%= link_to image_tag('gray_nikes.jpeg', class: "landing-pics col-sm-6 col-md-6") %>

      <%= link_to image_tag('addidas2.jpg', class: "landing-pics col-sm-6 col-md-6") %>
    </div><!--/.row-4-->


</section>
