<section class="jumbotron" id="jumbo">
  <div class="container">
    <h1>Shoe Fit!</h1>
    <p>If the shoe fits... Holla!</p>
  </div>
</section>

<section class="container" id="myContainer">
    <div class="row" id="row2">
        <%= link_to image_tag('bo_jacksons2.jpg', class: "img-responsive img-rounded col-sm-6 col-md-6 landing-pics"), products_path %>
        <%= link_to image_tag('man_holding_nike.jpg', class: "img-responsive col-sm-6 col-md-6 landing-pics" ), products_path %>
    </div><!--row-2-->

    <div class="row" id="extra-row">
      <%= image_tag('vans.jpeg', class: "img-responsive col-sm-12 col-md-12 col-lg-12 extra-row") %>
    </div>

    <div class="row" id="row3">
      <%= link_to image_tag('addidas.jpeg', class: "img-responsive landing-pics col-sm-6 col-md-6") %>
      <%= link_to image_tag('nb_gray_pink.jpg', class: "img-responsive landing-pics col-sm-6 col-md-6") %>
    </div><!--/.row-3-->

    <div class="row" id="extra-row2">
      <%= image_tag('blk_nikes.jpeg', class: "img-responsive col-sm-12 col-md-12 col-lg-12 extra-row") %>
    </div>

    <div class="row" id="row4">
      <%= link_to image_tag('gray_nikes.jpeg', class: "img-responsive landing-pics col-sm-6 col-md-6") %>
      <%= link_to image_tag('addidas2.jpg', class: "img-responsive landing-pics col-sm-6 col-md-6") %>
    </div><!--/.row-4-->


</section>
