	<div class="container" id="big-show"
		<div class="row">
			<div class="col-xs-4" id="show">
				<%= link_to image_tag("air_max_95.jpg"), @product %>
				<h4>
					<strong><%= @product.name %></strong>
				</h4>

				<p>
				  <strong>Description:</strong>
				  <%= @product.description %>
				</p>

				<p>
				  <strong>Image url:</strong>
				  <%= @product.image_url %>
				</p>

				<p>
					<strong>Colour</strong>
					<%= @product.colour %>
				</p>

				<button type="button" class="btn btn-default">
					<%= link_to content_tag(:i, nil, class: "fa fa-pencil"), edit_product_path(@product) %>
				</button>
				<button type="button" class="btn btn-default">
					<%= link_to content_tag(:i, nil, class: "fa fa-backward"), orders_path %>
				</button>
			</div>
		</div>
	</div>
	