<p id="notice"><%= notice %></p>

<h1 id="pro-list">Shoes</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="4"></th>
    </tr>
  </thead>
</table>



    <% @products.each do |product| %>
        
      <div class="container"> 
        <div class="row">  
          <div class="col-xs-4 col-md-4">
          <%= product.name %>
          <%= product.description %>
          <%= product.image_url %>
            
            <div><%= link_to 'Show', product %>|</div>
            <div><%= link_to 'Edit', edit_product_path(product) %>|</div>
            <div><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div> 
          </div><!--/.col-md-4-->
        </div><!--/.row-->
      </div><!--/.container-->
        
      
       
        
    <% end %>

  

<br>

<%= link_to 'New Product', new_product_path %>
<%= link_to 'Products', products_path %>
