<p id="notice"><%= notice %></p>

<h1 id="pro-list">Products</h1>



    <% @products.each do |product| %>

        
        <div class="container">
          <div class="row">
            <div class="col-xs-4 col-md-4">
              <ul class="my-list">
                  <li><%= product.name %></li>
                  <li><%= product.description %></li>
                  <li><%= product.image_url %></li>
                  <li><%= product.colour %></li>
              </ul>
            </div><!--/.col-->  
          </div><!--/.row-->
        </div><!--/.container-->
           <div class="show">
            <%= link_to 'Details', product %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %> 
          </div>
        
      
       
        
    <% end %>

  

<br>
<div class="new-product">
<%= link_to 'New Product', new_product_path %>
<%= link_to 'Products', products_path %>
</div>
