<p id="notice"><%= notice %></p>
<div class="detail">
	<p>
		<strong>Name:</strong>
		<%= @product.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @product.description %>
	</p>

	<p>
	  <strong>Image url:</strong>
	  <%= @product.image_url %>
	</p>

	<p>
		<strong>Colour</strong>
		<%= @product.colour %>
	</p>

	<button type="button" class="btn btn-default" style="background-color: red;">
		<%= link_to 'Edit', edit_product_path(@product) %>
	</button>
	<button type="button" class="btn btn-default" style="background-color: red;">
		<%= link_to 'Back', products_path %>
	</button>
	
</div>
