<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	      <div class="navbar-brand">
	      	<%= link_to 'Shoe Fit', static_pages_index_path %>
	  	  </div>
	  </div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  	<ul class="nav navbar-nav navbar-left">
	  		<li><%= link_to 'Home', static_pages_landing_page_path %></li>
	  		<li><%= link_to 'Products', products_path %></li>
	  		<li><%= link_to 'Orders' , orders_path %></li>
	  		<li><%= link_to 'About', static_pages_about_path %></li>
	  		<li><%= link_to 'Contact', static_pages_contact_path %></li>
	  		<li>
	  			<%= form_tag('/products', method: "get", class: "navbar-form navbar-left hidden-xs") do %>
	  			<%= text_field_tag(:q, "", class: "form-control hidden-xs", placeholder: "Search") %>
	  			<%= submit_tag("Search", class: "btn btn-default hidden-xs") %>
	  			<% end %>
	  		</li>
	  	</ul>
	  	
				<ul class="nav pull-right">
	    		<li>
	    			<% if user_signed_in? %>
	    				<% link_to('Sign up', new_user_registration_path) %>
	    			<% else %>
	    				<%= link_to('Sign up', new_user_registration_path) %>
	    			<% end %>
					</li>
					<li>
	    			<% if user_signed_in? %>
	    				<%= link_to('Edit profile', edit_user_registration_path) %>
	    			<% else %>
	    				<% link_to('Edit profile', edit_user_registration_path) %>
	    			<% end %>
					</li>
	    		<li id="log">
	    			<% if user_signed_in? %>
	    				<%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
	    			<% else %>
	    				<%= link_to('Log in', new_user_session_path) %>
	    			<% end %>
	    		</li>
	  		</ul>

	</div>
</nav>
